<div class="row" align="center">
    <div contenteditable>
     <h1><span class="orangeText">R</span>ussell Gilbert <span class="orangeText">L</span>. <span class="orangeText">D</span>e Castro</h1>
    </div>
    <p>Programmer</p>
    <br/>
</div>
<BR/>

<div class="row">
  <div class="col-sm-6 verticalLine size32fnt" align="right">
    <p>Plan</p>
    <p><BR/>Build</p>
    <p></p>
  </div>

   <div class="col-sm-6 size32fnt" align="left">
    <p><BR/>Design</p>
    <p><BR/>Deploy</p>
  </div>
</div>

<div class="row" align="center">
   <p><i>From front-end, back-end up to deployment.</i></p>
   <BR>
   <HR class="thinHR">

   <div>
   <H4>ABOUT ME</H4>
   <p>With over 12 years of experience in software development using <B><I>JavaScript (jQuery,  angularJS and bootstrap), CSS, Adobe Flash (from MX up to CC version), Adobe  Director, Java, Android Studio, Php, HTML and MySQL</B></I>. I have a wide range of knowledge with both online, offline and mobile programming, my 1 year experience in Software Testing also aids me to produce a user friendly and high quality designs.</p>
  </div>
    <a href="https://www.upwork.com/o/profiles/users/_~018323515f2328e40e/" target="_blank">Upwork Profile</a> 
    <BR> <BR>
      <HR class="thinHR">
</div>
