<div class="row">
  <H2>HOME</H2><BR/>
</div>

<div class="row" align="center">
    <div contenteditable>
     <h1><span style="color: orange">R</span>ussell Gilbert <span style="color: orange">L</span>. <span style="color: orange">D</span>e Castro</h1>
    </div>
    <p>Programmer</p>
    <br/>
</div>
<BR/>

<div class="row">
  <div class="col-sm-6 verticalLine" align="right">
    <p style="font-size:32px">Plan</p>
    <p style="font-size:32px"><BR/>Build</p>
    <p></p>
  </div>

   <div class="col-sm-6" align="left">
    <p style="font-size:32px"><BR/>Design</p>
    <p style="font-size:32px"><BR/>Deploy</p>
  </div>
</div>

<div class="row" align="center">
   <p><i>From front-end, back-end up to deployment.</i></p>
</div>